@font-face {
  font-family: "MyriadCondensedWeb";
  src: url("../resources/fonts/MyriadCondensedWeb.ttf");
}
:root {
  --card-height: 20rem;
  --card-pos: 0;
  --card-margin: 5rem;
  --card-width: 25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyriadCondensedWeb";
}

body {
  transition: all 0.5s ease;
  background-color: #f0f0f0;
}
body.dark {
  background-color: #282828;
}
body #sc-btn {
  margin: 0;
  position: fixed;
  bottom: 0.2rem;
  right: 0.2rem;
  transform: scale(0.7);
}
body .popup-bg {
  background-color: rgba(40, 40, 40, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.5s ease;
  pointer-events: all;
  opacity: 0;
}
body .popup-bg.active {
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
}
header .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header #toggler {
  padding: 0;
  position: relative;
  display: block;
  border-radius: 6.25rem;
  width: 5rem;
  height: 2.5rem;
}
header #toggler .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transform: scale(0.9);
  background: #3886fa;
  filter: brightness(1.1);
  transition: all 0.5s ease;
}
body.dark header #toggler .indicator {
  background: aquamarine;
}
header #toggler .indicator.active {
  left: 2.5rem;
  filter: brightness(0.9);
}

button {
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 2rem;
  background-color: #3886fa;
  padding: 2rem;
  margin: 2rem;
  color: #ff7073;
  cursor: pointer;
  transition: all 0.5s ease;
}
body.dark button {
  background-color: aquamarine;
}
body.dark button:hover {
  background-color: #3886fa;
}
button:hover {
  background-color: aquamarine;
}

a {
  text-decoration: none;
}

.card {
  position: relative;
  background-color: #3886fa;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: var(--card-height);
  min-width: var(--card-width);
  margin: 2rem;
  margin-top: 10rem;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.5s ease;
}
body.dark .card {
  background-color: aquamarine;
}
.card img {
  position: absolute;
  margin-top: 0;
  top: var(--card-pos);
  border-radius: 0.4375rem;
  width: calc(100% - 1rem);
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
}
.card .store {
  margin-top: var(--card-margin);
}
.card #card-btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.card #card-btns .card-buy {
  background-color: #282828;
}
.card #card-btns .card-buy:hover {
  opacity: 0.9;
}

.nav-links {
  margin: 2rem;
  padding: 2rem;
  background-color: #3886fa;
  border-radius: 1rem;
  color: #ff7073;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
body.dark .nav-links {
  background-color: aquamarine;
}
body.dark .nav-links:hover {
  background-color: #3886fa;
}
.nav-links:hover {
  background-color: aquamarine;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #title {
  font-size: 3rem;
  padding: 2rem;
}
body.dark .container #title {
  color: #f0ffff;
}
.container #description {
  font-size: 2rem;
  padding: 1rem;
}
body.dark .container #description {
  color: #f0ffff;
}
.container input {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid #282828;
  background-color: #f0ffff;
  outline: none;
  text-align: center;
}
.container #products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  border-radius: 2rem;
  width: 95%;
}/*# sourceMappingURL=style.css.map */