@font-face {
    font-family: 'MyriadCondensedWeb';
    src: url("../resources/fonts/MyriadCondensedWeb.ttf");
}
:root{
    --card-height: 0;
    --card-pos: 0;
    --card-margin: 0;
    --card-width: 0;
}
$font: "MyriadCondensedWeb";
$black: #282828;
$white: #f0ffff;
$blue: #3886fa;
$red: #ff7073;